* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #6e8894;
}
.headers {
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.sub-header {
  margin-bottom: 15px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  background: #fff;
}

.main-section {
  padding: 0 20px;
}

.movie-list ul {
  list-style: none;
}
.movie-list ul {
  display: flex;
  flex-wrap: wrap;
}

.credits-list li {
  margin: 5px;
  position: relative;
}

.credits-list div {
  display: block;
  background: rgba(29, 29, 29, 0.94);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  color: #fff;
  font-size: 16px;
}

.credits-list div h3 {
  background: #0e5d7bf2;
  padding: 5px;
}

.credits-list div p {
  padding: 5px;
}

.banner {
  height: 300px;
}

.bio-wrap-details {
  display: flex;
}

.bio-wrap-detailed {
  margin-right: 15px;
  flex: 2 1 0;
}

.bio-wrap-trivia {
  flex: 1 1 0;
}

.bio-wrap-trivia {
  border: 1px solid #ccc;
  padding: 10px;
}
