html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
}

label {
  color: #fff;
  margin-bottom: 5px;
  display: block;
}

button {
  padding: 5px 10px;
  background: #2e86ab;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
}

button[type="reset"] {
  background-color: #c95d5d;
}

input,
select,
textarea {
  padding: 10px;
  outline: none;
}

.issue-form {
  border-radius: 5px;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  background: #565554;
  box-shadow: 0 0 10px 1px rgba(84, 106, 123, 0.2);
}

.form-container {
  width: 80%;
  margin: 0 auto;
}

.form-element {
  margin-bottom: 20px;
}

.width-full {
  width: 100%;
}

.issue-card {
  border: 1px solid #ccc;
}
